<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Resend confirmation instructions</h3>
  </div>

  <div class="panel-body">
    <div class="form-group">
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

          <div class="field">
            <%= f.label :email %>
              <br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-control" %>
          </div>

          <div class="actions">
            <%= f.submit "Resend confirmation instructions", class: "btn btn-primary" %>
          </div>
          <% end %>
    </div>
  </div>

  <div class="panel-footer">
    <%= render "devise/shared/links" %>
  </div>
</div>