<%= form_with(model: cryptocurrency, local: true) do |form| %>
  <% if cryptocurrency.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cryptocurrency.errors.count, "error") %> prohibited this cryptocurrency from being saved:</h2>

      <ul>
      <% cryptocurrency.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :symbol %>
    <%= form.text_field :symbol, id: :cryptocurrency_symbol %>
  </div>

  <div class="field">
    <%= form.number_field :user_id, id: :cryptocurrency_user_id, value: current_user.id, type: "hidden" %>
  </div>

  <div class="field">
    <%= form.label :cost_per %>
    <%= form.text_field :cost_per, id: :cryptocurrency_cost_per %>
  </div>

  <div class="field">
    <%= form.label :amount_owned %>
    <%= form.text_field :amount_owned, id: :cryptocurrency_amount_owned %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
