<h1>Cryptocurrencies</h1>

<table class="table table-striped table-bordered table-hover">
  <br>
  <thead>
    <tr>
      <th>Name</th>
      <th>Symbol</th>
      <th>Cost per</th>
      <th>Amount owned</th>
    </tr>
  </thead>

  <tbody>
    <% @cryptocurrencies.each do |cryptocurrency| %>
      <% if cryptocurrency.user_id == current_user.id %>
        <% if cryptocurrency.symbol %>
          <% cryptocurrency.symbol = cryptocurrency.symbol.upcase %>
        <% end %>
        <tr>
        <% for x in @lookup_crypto %>
            <% if cryptocurrency.symbol == x["symbol"] %>
                <td><%= link_to x["name"], cryptocurrency %></td>
            <% end %>
      <% end %>
        
          <td><%= cryptocurrency.symbol %></td>
          <td><%= cryptocurrency.cost_per %></td>
          <td><%= cryptocurrency.amount_owned %></td>
        </tr>
        <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cryptocurrency', new_cryptocurrency_path, class: "btn btn-primary" %>
